<div id="<%= dom_id tarefa %>">
  <p>
    <strong>Nome:</strong>
    <%= tarefa.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= tarefa.descricao %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= tarefa.horario %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tarefa.status %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= tarefa.data %>
  </p>

</div>
