<div id="<%= dom_id tarefa %>">
  <p>
    <strong>Nome:</strong>
    <%= tarefa.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= tarefa.descricao %>
  </p>

  <p>
    <strong>Horainicio:</strong>
    <%= tarefa.horaInicio %>
  </p>

  <p>
    <strong>Horafim:</strong>
    <%= tarefa.horaFim %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tarefa.status %>
  </p>

</div>
