<div id="<%= dom_id metum %>">
  <p>
    <strong>Nome:</strong>
    <%= metum.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= metum.descricao %>
  </p>

  <p>
    <strong>Frequencia:</strong>
    <%= metum.frequencia %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= metum.status %>
  </p>

</div>
