<div id="<%= dom_id metum %>">
  <p>
    <strong>Nome:</strong>
    <%= metum.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= metum.descricao %>
  </p>

  <p>
    <strong>Frequencia:</strong>
    <%= metum.frequencia %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= metum.start_time%>
  </p>

  <p>
    <strong>End time:</strong>
    <%= metum.end_time%>
  </p>

  <p>
    <strong>Status:</strong>
    <%= metum.status %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <% metum.categoriums.all.each do |categoria| %>
      <%= categoria.nome %>
    <% end %>
  </p>

</div>
