<div id="<%= dom_id atividade %>">
  <p>
    <strong>Nome:</strong>
    <%= atividade.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= atividade.descricao %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= atividade.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= atividade.end_time %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <% atividade.categoriums.all.each do |atividade| %>
      <%= atividade.cor %>
    <% end %>
  </p>

</div>
