<%= form_with(model: atividade) do |form| %>
  <% if atividade.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(atividade.errors.count, "error") %> prohibited this atividade from being saved:</h2>

      <ul>
        <% atividade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12 my-3">
    <div class="col-md-12">
      <%= form.label :nome, class: "col-mdm-12" %>
    </div>
    <div class="col-md-12">
      <%= form.text_field :nome, class: "col-mdm-12 input", style:"background-color: #f5f5f5; border-radius: 0.5rem; border:none"  %>
    </div>
  </div>

  <div class="col-md-12 my-3">
    <div class="col-md-12">
      <%= form.label :descricao, class: "col-mdm-12" %>
    </div>
    <div class="col-md-12">
      <%= form.text_area :descricao, class: "col-mdm-12 input", style:"background-color: #f5f5f5; border-radius: 0.5rem; border:none"  %>
    </div>
  </div>

  <div class="col-md-9 my-3">
    <select id="data" class="form-select" aria-label="Default select example">
      <option value='' selected>Formato da data</option>
      <option>Bloco</option>
      <option>Hora Livre</option>
    </select>
  </div>

  <div id="bloco" class="campoHora" style="display: none">
    <div class="col-md-9">
      <%= form.label :bloco, style:"display: block" %>
      <%= form.select :bloco, ["Manhã", "Tarde", "Noite", "Madrugada"] %>
    </div>

    <div>
      <%= form.label :date, style: "display: block" %>
      <%= form.date_field :date %>
    </div>
  </div>

  <div id="hora" class="campoHora" style="display: none">
    <div>
      <%= form.label :start_time, style: "display: block" %>
      <%= form.datetime_field :start_time %>
    </div>

    <div>
      <%= form.label :end_time, style: "display: block" %>
      <%= form.datetime_field :end_time %>
    </div>
  </div>

  <div class="col-md-12 my-3">
    <div class="col-md-12">
    <%= form.label :categoria_id, style: "display: block" %>
    </div>
    <div class="col-md-12">
    <%= form.collection_select(:categoria_id, Categorium.all, :id, :nome, :prompt => 'Escolha a categoria') %>
    </div>
  </div>

  <div class="my-3">
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, ["Não começado", "Em andamento", "Concluída"] %>
  </div>

  <div class="my-3">
    <%= form.submit %>
  </div>
<% end %>

<script>
    /// ; Pega o select#estado
    let estado = document.getElementById("data");

    const value_elem_id = {
        'Bloco':'bloco',
        'Hora Livre':'hora'

    };

    /// ; Define o evento onchange no select#estado
    estado.onchange = function(){
        /// ; this aqui dentro é o select#estado
        let valor = this.value;                     /// ; <- valor selecionado
        let selects = Array.from(                   /// ; <- transforma o resultado em array
            document.getElementsByClassName('campoHora')   /// ; <- pega todos os selects
        );

        selects.forEach(function(el){

            if(el.id !== 'estado')  /// ; <- se o select não for o de estado display=none
                el.style.display='none';
            if(el.id === value_elem_id[valor] )  /// ; <- se o select é o da cidade display=block;
                el.style.display='block';

        });


        /// document.getElementById( value_elem_id[valor] ).style.display='block';
        /// ; outra forma de dar display block

    }
</script>
