<%= form_with(model: lembrete) do |form| %>
  <% if lembrete.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lembrete.errors.count, "error") %> prohibited this lembrete from being saved:</h2>

      <ul>
        <% lembrete.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-3">
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome, style:"background-color: #f5f5f5; border-radius: 0.5rem; border:none" %>
  </div>

  <div class="my-3">
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao, style:"background-color: #f5f5f5; border-radius: 0.5rem; border:none" %>
  </div>

  <div class="my-3">
    <%= form.label :dia, style: "display: block" %>
    <%= form.datetime_field :dia %>
  </div>

  <div class="my-3">
    <%= form.label :categoria_id, style: "display: block" %>
    <%= form.collection_select(:categoria_id, Categorium.all, :id, :nome, :prompt => 'Escolha a categoria') %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
