<div id="<%= dom_id lembrete %>">
  <p>
    <strong>Nome:</strong>
    <%= lembrete.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= lembrete.descricao %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= lembrete.dia.strftime('%d/%m/%y - %H:%M') %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <% lembrete.categoriums.all.each do |categoria| %>
      <%= categoria.nome %>
    <% end %>
  </p>

</div>
